IT_academy_HomeWork_n2/.vs/
IT_academy_HomeWork_n2/bin/
IT_academy_HomeWork_n2/obj/
1/obj/1.csproj.nuget.dgspec.json,1/obj/1.csproj.nuget.g.props,1/obj/1.csproj.nuget.g.targets,1/obj/IT_academy_HomeWork_n2_Task2.csproj.nuget.dgspec.json,1/obj/IT_academy_HomeWork_n2_Task2.csproj.nuget.g.props,1/obj/IT_academy_HomeWork_n2_Task2.csproj.nuget.g.targets,1/obj/project.assets.json,1/obj/project.nuget.cache,1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs,1/obj/Debug/net5.0/1.AssemblyInfo.cs,1/obj/Debug/net5.0/1.AssemblyInfoInputs.cache,1/obj/Debug/net5.0/1.assets.cache,1/obj/Debug/net5.0/1.csproj.AssemblyReference.cache,1/obj/Debug/net5.0/1.GeneratedMSBuildEditorConfig.editorconfig,1/obj/Debug/net5.0/IT_academy_HomeWork_n2_Task2.AssemblyInfo.cs,1/obj/Debug/net5.0/IT_academy_HomeWork_n2_Task2.AssemblyInfoInputs.cache,1/obj/Debug/net5.0/IT_academy_HomeWork_n2_Task2.assets.cache,1/obj/Debug/net5.0/IT_academy_HomeWork_n2_Task2.GeneratedMSBuildEditorConfig.editorconfig
1/obj/1.csproj.nuget.dgspec.json,1/obj/
IT_academy_HomeWork_n2_Task4/bin/
IT_academy_HomeWork_n2_Task4/obj/
IT_academy_HomeWork_n2_Task3/obj/
